<div>
	<table class="table table-bordered">
		<thead>
			<th>Data</th>
			<th>Tipo</th>
			<th>Descrição</th>
			<th>Valor</th>
		</thead>
		<tbody>
			<% @cashes.each do |cash| %>
			<tr>
				<td><%= datebr cash.created_at %></td>
				<td><%= cash.category %></td>
				<td><%= cash.description %></td>
				<td><%= number_to_currency cash.price %></td>
				<td><%= link_to :editar, edit_cash_path(cash), class: 'btn btn-warning' %></td>
				<td><%= link_to :apagar, cash_path(cash), method: :delete, class: 'btn btn-danger', data:{confirm: 'deseja excluir?'} %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>