<div class="form-center">
	<%= form_for @studant do |f| %>
		<div class="form-group">
			<%= f.label :nome %>
			<%= f.text_field :name, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :cpf %>
			<%= f.text_field :cpf, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :telefone %>
			<%= f.text_field :fone, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :endereco %>
			<%= f.text_field :address, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :bairro %>
			<%= f.text_field :district, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :cidade %>
			<%= f.text_field :city, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.submit :salvar, class: 'btn btn-success' %>
		</div>
	<% end %>
</div>