<div class="label">
	<span>Novo Agendamento</span>
</div>

<div>
	<%= form_for @schedule do |f| %>
		<div>
			<%= f.label :aluno %>
			<%= text_field_tag :studant, @studant.name, class: 'form-control' %>
		</div><br>
		<div>
			<%= f.label :data %>
			<%= date_field_tag :date_s, nil, class: 'form-control' %>
		</div><br>
		<div>
			<%= f.label :hora %>
			<%= time_field_tag :hour_s, nil, class: 'form-control' %>
		</div><br>
		<div>
			<%= f.submit :salvar, class: 'btn btn-success' %>
		</div>
	<% end %>
</div>