<div class="label">
	<span>Processo: <%= @procedure.number %></span>
</div>

<div class="form-center">
	<div class="options">
		<span><%= link_to 'Todos Processos', procedures_path, class: 'btn btn-default' %></span>
		<span><%= link_to 'Editar', edit_procedure_path(@procedure), class: 'btn btn-primary' %></span>
		<span><%= link_to 'Fez Aula', procedure_class_path(@procedure), class: 'btn btn-warning' %></span>
		<% if @procedure.status == 'Aberto' %>
			<span><%= link_to 'Finalizar Processo', finish_procedure_path(@procedure), class: 'btn btn-success' %></span>
		<% end %>
		<span><%= link_to 'Excluir', procedure_path(@procedure), method: :delete, class: 'btn btn-danger', data:{confirm: 'Deseja Excluir o Processo?'} %></span>
		<span><%= link_to (image_tag 'imprimir.png', :width => '40px', :height => '40px'), "#{@procedure.id}.pdf" %></span>
	</div>
	<div class="form-group">
		<%= label_tag :aluno %>
		<%= text_field_tag :studant, @procedure.studant.name, :disabled=>true, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= label_tag 'Numero do Processo' %>
		<%= text_field_tag :number, @procedure.number, :disabled=>true, class: 'form-control' %>
	</div>
	<div class="form-group">
		<% if @procedure.due_date != nil %>
			<% if datebr(@procedure.due_date) < (due = Time.zone.now + 60.day) %>
				<div class="alert alert-danger">
					<span>Atenção! Processo Esta Perto do Vencimento!</span>
				</div>
			<% end %>
		<% end %>
		<%= label_tag 'Vencimento do Processo' %>
		<% if @procedure.due_date != nil %>	
			<%= text_field_tag :due_date, datebr(@procedure.due_date), :disabled=>true, class: 'form-control' %>
		<% end %>
	</div>
	<div class="form-group">
		<%= label_tag :categoria %>
		<%= text_field_tag :category, @procedure.category, :disabled=>true, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= label_tag :situacao %>
		<%= text_field_tag :status, @procedure.status, :disabled=>true, class: 'form-control' %>
	</div>

	<div class="card"> 
		<%= label_tag 'Horas de Aula' %><br>
		<% if @procedure.category == 'A' || @procedure.category == 'AB' %>
			<span style="font-weight: bold;">Categ. A:</span>
			<%= @procedure.class_a %>h<br>
		<% end %>
		<% if @procedure.category == 'B' || @procedure.category == 'AB' %>
			<span style="font-weight: bold;">Categ. B:</span>
			<%= @procedure.class_b %>h<br>
		<% end %>
		<span style="font-weight: bold;">Teórica:</span>
		<%= @procedure.class_t %>h
	</div><br>

	<%= label_tag :Parcelas %>
	<div>
		<table class="table table-bordered">
			<thead>
				<th>Vencimento</th>
				<th>Valor</th>
				<th>Status</th>
			</thead>
			<tbody>
				<% @portions.each do |portion| %>
				<tr>
					<td><%= datebr(portion.due_date) %></td>
					<td><%= number_to_currency portion.price %></td>
					<td><%= portion.status %></td>
					<td width="8%"><%= link_to 'Excluir', procedure_portion_path(@procedure, portion), method: :delete, class: 'btn btn-danger' %></td>
					<td width="8%"><%= link_to 'Editar', edit_procedure_portion_path(@procedure, portion), class: 'btn btn-warning' %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>