<div class="label">
	<span>Parcelas a Receber</span>
</div>

<%= form_tag portions_filter_date_path, method: :get, class: 'navbar-form navbar-right' do %>
	<div>
		<%= date_field_tag :begin_date, nil, class: 'form-control' %>
		<%= date_field_tag :end_date, nil, class: 'form-control' %>
		<%= button_to 'Filtrar', nil, class: 'btn btn-success' %>
	</div>
<% end %>

<%= render 'portions' %>