<div class="label">
	<span>Parcelas a Receber</span>
</div>

<div>
	<table class="table table-bordered">
		<thead>
			<th>Vencimento</th>
			<th>Aluno</th>
			<th>Valor</th>
			<th>Status</th>
		</thead>
		<tbody>
			<% @portions.each do |portion| %>
			<tr>
				<td><%= datebr portion.due_date %></td>
				<td><%= portion.procedure.studant.name %></td>
				<td><%= number_to_currency portion.price %></td>
				<td><%= portion.status %></td>
				<td width="13%"><%= link_to 'Efetuar Recebimento', pay_portion_path(portion), class: 'btn btn-success' %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>