<!DOCTYPE html>
<html>
  <head>
    <title>CFC Jenipapo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="primary">
      <header>
        <input type="checkbox" id="bt_menu">
        <label for="bt_menu">&#9776;</label>

        <span style="float: left; padding: 4px 2em;"><%= link_to (image_tag 'logo.png', :width => '100px'), root_path %></span>
        <nav class="menus"> <!-- Menu de Navegação -->

          <ul>

            <li><a href="">Alunos</a>
              <ul>
                <li><%= link_to 'Cadastrar Aluno', new_studant_path %></li>
                <li><%= link_to 'Todos', studants_path %></li>
              </ul>
            </li>
            <li><a href="">Processos</a>
              <ul>
                <li><%= link_to 'Novo Processo', new_procedure_path, data:{confirm: 'Registrar Novo Processo?'} %></li>
                <li><%= link_to 'Abertos', procedures_opens_path %></li>
                <li><%= link_to 'Concluidos', procedures_closeds_path %></li>
                <li><%= link_to 'Todos', procedures_path %></li>
              </ul>
            </li>
            <li><a href="">Agendamentos</a>
              <ul>
                <li><%= link_to 'Agendar Aluno', schedules_select_path %></li>
                <li><%= link_to 'Agend. do Dia', schedules_day_path %></li>
                <li><%= link_to 'Todos Agend.', schedules_path %></li>
              </ul>
            </li>
            <li><a href="">Contas</a>
              <ul>
                <li><%= link_to 'A Pagar', expenses_path %></li>
                <li><%= link_to 'A Receber', portions_pending_path %></li>
                <li><%= link_to 'Nova Despesa', cashes_new_out_path, data:{confirm: 'Registrar Nova Despesa?'} %></li>
                <li><%= link_to 'Nova Receita', cashes_new_in_path, data:{confirm: 'Registrar Nova Receita?'} %></li>
              </ul>
            </li>
            <li><a href="">Relatorios</a>
              
            </li>
            <li><a href="">Usuários</a>
              
            </li>
          </ul>

        </nav> <!-- fim do Menu -->
      </header>
      

      <div class="primary-container">

        <% if flash[:notice] %>
          <div class="alert alert-info" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield %>
      </div>

      <footer class="footer">
          <h4>Auto Escola Jenipapo</h4>
          <p>&copy; Todos os direitos reservados</p>
      </footer>
    </div>
    
    
  </body>
</html>
